{{#partial "contenido"}}
<html>
<head>
  <title>Crear eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Clasificador</li>
  </ol>
  <div class="row">
    <div class="col-md-8">
      <h1>Clasificador de Operaciones</h1>

      <form action="/evento/nuevo" method = "post">
    
        <div>
        <br>
        <h4>Asocie su Operacion a una categoria</h4>
	        <label>Egresos</label>
	        <select class="form-control" name="Egreso">
	          {{#each egreso}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione un egreso que desee categorizar</small>
      	</div>
      	
      	<div>
	        <label>Categoria</label>
	        <select class="form-control" name="Categoria">
	          {{#each categoria}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione la categoria que corresponda</small>
      	</div>

        <br>


		<input type="submit" class="btn btn-lg btn-primary btn-block" placeholder="Crear">
		<!--
        <button type="button" class="btn btn-lg btn-primary btn-block">Crear</button>
        -->
        <br>
      </form>
      
       <form action="/evento/nuevo" method = "post">
    <br><br>
        <div>
        <h4>Asocie un presupuesto a una categoria</h4>
	        <label>Presupuestos</label>
	        <select class="form-control" name="Presupuesto">
	          {{#each presupuesto}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione un presupuesto que desee categorizar</small>
      	</div>
      	
      	<div>
	        <label>Categoria</label>
	        <select class="form-control" name="Categoria">
	          {{#each categoria}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione la categoria que corresponda</small>
      	</div>

        <br>


		<input type="submit" class="btn btn-lg btn-primary btn-block" placeholder="Crear">
		<!--
        <button type="button" class="btn btn-lg btn-primary btn-block">Crear</button>
        -->
        <br>
      </form>
    </div>
  </div>
</body>
</html>

{{/partial}}
{{>layout.hbs}}

<!--  POSIBLE MEJORA

<div>
        <br>
        <h4>Asocie su Operacion a una categoria</h4>
        	<div class="form-check">
 			 <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Option1" checked>
  			<label class="form-check-label" for="exampleRadios1">
   					Operacion Egreso
 		 </label>
	</div>
	<div class="form-check">
 			 <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Option2" checked>
  			<label class="form-check-label" for="exampleRadios1">
   					Presupuesto
 		 </label>
	</div>
	
 <!-- ALGUN TIPO DE IF-->
	        <label>Egresos</label>
	        <select class="form-control" name="Egreso">
	          {{#each egreso}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione un egreso que desee categorizar</small>
      	</div>
      	
 <!-- ELSE-->   
  <label>Presupuestos</label>
	        <select class="form-control" name="Presupuesto">
	          {{#each presupuesto}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione un presupuesto que desee categorizar</small>
      	</div>
      	
      	
<!-- LA CATEGORIA -->      	  	
      	<div>
	        <label>Categoria</label>
	        <select class="form-control" name="Categoria">
	          {{#each categoria}}
	            <option>{{this}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione la categoria que corresponda</small>
      	</div>

        <br>


		<input type="submit" class="btn btn-lg btn-primary btn-block" placeholder="Crear">
		<!--
        <button type="button" class="btn btn-lg btn-primary btn-block">Crear</button>
        -->
        <br>
      </form>






-->

