{{#partial "contenido"}}
<html>
<head>
  <title>Crear eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Clasificador</li>
  </ol>
  <div class="row">
    <div class="col-md-8">
      <h1>Clasificador de Operaciones</h1>
		 
		 <div>
        <br>
        <h4>Elija lo que quisiera clasificar</h4>
	        <select class="form-control" id="selector" name="seleccion">       
	        	<option value="default" selected>Elija...</option>
	            <option value="e">Operaciones Egreso</option>
	            <option value="p">Presupuesto</option>
	        </select>
      	</div>
<div id="egresos">
   <form action="/clasificar/egreso" method = "post"> 
        <div>
        <br>
        <h4>Asocie su Operacion a una categoria</h4>
	        <label>Egresos</label>
	        <select class="form-control" name="egreso">
	          {{#each OpEg}}
	            <option value="{{id_operacion_egreso}}">Organizacion:{{organizacion.nombreFicticio}} ---- Monto: {{valorTotal}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione un egreso que desee categorizar</small>
      	</div>
      	
      	<div>
	        <label>Categoria</label>
	        <select class="form-control" name="categoria">
	          {{#each clasificacion}}
	            <option value="{{id_clasificacion}}">{{descripcion}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione la categoria que corresponda</small>
      	</div>

        <br>


		<input type="submit" class="btn btn-lg btn-primary btn-block" placeholder="Crear">
		<!--
        <button type="button" class="btn btn-lg btn-primary btn-block">Crear</button>
        -->
        <br>
      </form>
 </div>
 
     <div id="presupuestos"> 
       <form action="/clasificar/presupuesto" method = "post">
    </br>
        <div>
        <h4>Asocie un presupuesto a una categoria</h4>
	        <label>Presupuestos</label>
	        <select class="form-control" name="Presupuesto">
	          {{#each presupuestos}}
	            <option value="{{id_presupuesto}}">{{detalle}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione un presupuesto que desee categorizar</small>
      	</div>
      	
      	<div>
	        <label>Categoria</label>
	        <select class="form-control" name="categoria">
	          {{#each clasificacion}}
	            <option value="{{id_clasificacion}}">{{descripcion}}</option>
	          {{/each}}
	        </select>
	        <small class="form-text text-muted">Seleccione la categoria que corresponda</small>
      	</div>

        <br>


		<input type="submit" class="btn btn-lg btn-primary btn-block" placeholder="Crear">
		<!--
        <button type="button" class="btn btn-lg btn-primary btn-block">Crear</button>
        -->
        <br>
      </form>
      </div>
    </div>
  </div>
</body>
</html>

{{/partial}}
{{>layout.hbs}}

<script src="/js/clasificadorStyle.js"></script>
