{{#partial "contenido"}}
<html>
<head>
  <title>Crear eventos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../../main.css">
</head>
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/home">Inicio</a>
    </li>
    <li class="breadcrumb-item active">Visualizar Operaciones</li>
  </ol>
  <div class="row">
    <div class="col-md-8">
    
      <h1>Sus Operaciones</h1>
      <div>
        <br>
        <h4>Elija lo que quisiera visualizar</h4>
	        <select class="form-control" id="selector" name="Egreso"> <!-- NECESITA PARA ALGO TENER EL NOMBRE EGRESO?-->	        
	        	<option value="default" selected>Elija...</option>
	            <option value="i">Operaciones Ingreso</option>
	            <option value="e">Operaciones Egreso</option>
	            <option value="p">Proyectos</option>
	        </select>
      	</div>
      														<!-- HARIA FALTA HACER QUE SOLO APAREZCA LA TABLA DE LO SELECCIONADO-->
      								<!-- INGRESOS -->
	</br>
<div id="ingresos"> <!-- INICIO DIV INGRESOS -->
	<h2>Ingresos</h2>
      <table class="table table-striped">
		<thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Fecha</th>
		      <th scope="col">Descripcion</th>
		      <th scope="col">Moneda</th>
		      <th scope="col">Monto</th>
		    </tr>
		</thead>
	  <tbody>
	  	{{#each opIng}}
	  		<tr>
		  		<th scope="row">{{id_operacion_ingreso}}</th>
			    <td>{{fechaIngreso}}</td>
			    <td>{{descripcion}}</td>
			    <td>{{id_moneda.descripcion}}</td>
			    <td>$ {{valorTotal}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div> <!-- FIN  DIV INGRESOS -->
									<!-- EGRESOS -->

	<div id="egresos"> <!-- INICIO DIV EGRESOS -->
		
		<h2>Egresos</h2>
	      <table class="table table-striped">
	  <thead>
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Fecha</th>
	      <th scope="col">Producto</th>
	      <th scope="col">Cantidad</th>
	      <th scope="col">Monto</th>
	    </tr>
	  </thead>
	  <tbody>
	  <tr>
	      <th scope="row">1</th>
	      <td>02/10/2016</td>
	      <td>Tornillos</td>
	      <td>100000</td>
	      <td>50000</td>
	    </tr>
	    <tr>
	      <th scope="row">2</th>
	      <td>02/11/2016</td>
	      <td>Tuercas</td>
	      <td>145</td>
	      <td>1200</td>
	    </tr>
	    <tr>
	      <th scope="row">3</th>
	      <td>02/12/2016</td>
	      <td>Destornillador</td>
	      <td>46</td>
	      <td>7800</td>
	    </tr>
	  </tbody>
	</table>
	</div> <!-- FIN DIV EGRESOS-->
								<!-- PROYECTO -->

	<div id="proyectos"> <!-- INICIO DIV PROYECTOS -->
	<h2>Proyectos</h2>
      <table class="table table-striped">
		    {{#each proyecto}}
		    	
		    	<thead>
		    		<tr>
				      <th scope="col">Descripcion</th>
				      <th scope="col">Monto Asignado</th>
				      <th scope="col">Director</th>
				    </tr>
				    
				    <tr>
					    <td>{{descripcion}}</td>
					    <td>$ {{montoAsignado}}</td>
					    <td>{{director.nombre}}</td>
					</tr>
					
				    <tr>
				      <th scope="col">Descripcion Subsidio</th>
				      <th scope="col">Monto</th>
				      <th scope="col">ID Subsidio</th>
				    </tr>
				  </thead>
				  <tbody>
		    	{{#each subsidios}}
			  		<tr>
					    <td>{{descripcion}}</td>
					    <td>$ {{valorTotal}}</td>
					    <td>{{id_operacion_ingreso}}</td>
					</tr>
				{{/each}}
			{{/each}}
		  </tbody>
	</table>
</div> <!-- FIN DIV PROYECTOS -->
    </div>
  </div>
</body>
</html>

{{/partial}}
{{>layout.hbs}}

<!-- JS para mostrar/ocultar lo que se pida en el visualizador-->
<script src="/js/visualizadorStyle.js"></script>


